@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Jokes Web Application</h1>
    <p>Building ULK Jokes Web Apps with ASP.NET Core Application MVC</p>
</div>