@{
    ViewData["Title"] = "Please Accept Our Terms and Conditions To use Privacy Policy for Application";
}
<h1>@ViewData["Title"]</h1>

<p>This is privacy policy for Jokes Web Application</p>
<p>Demo for privacy policy for Jokes Web Application</p>